@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}


<div class="container">
    <div class="desc">
        <p class="title service_biz"><em>기업회원 서비스</em></p>
        <p class="caption">기업회원들을 위해 BizOneShot에서 제공하는 쉽고 편리한 재무회계 서비스입니다.</p>
    </div><!--desc//-->

    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red">
                <p>서비스에 대한 설명이 들어갑니다.</p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->
</div><!--container//-->
<div class="btnwrap center">
    <a href="@Url.Action("Index","Home",new { area= "" })"><img src="~/images/bt_login_login.png" class="" /></a>
</div>