@{
    Layout = "~/Views/Shared/_JoinLayout.cshtml";
}

<div class="container">
    <div class="desc">
        <p class="title service_mento"><em>멘토회원 서비스</em></p>
        <p class="caption">BizOneShot의 멘토 서비스를 통해 체계적으로 멘토링 업무를 관리할 수 있습니다.</p>
    </div><!--desc//-->

    <div class="box_red">
        <div class="box_red_top"></div>
        <div class="box_red_mid">
            <div class="desc_red">
                <p>서비스에 대한 설명이 들어갑니다.</p>
            </div>
        </div>
        <div class="box_red_bot"></div>
    </div><!--box_red//-->
</div><!--container//-->
<div class="btnwrap center">
    <input type="button" class="mento_join" value="멘토 가입하기">
</div>
