@model IEnumerable<BizOneShot.Light.Models.ViewModels.SelectAddressListModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>주소 검색 서비스</title>
</head>
<body>

    <div class="wrap" />

    <!-- header -->
    <div class="headerWrap">
        <h1><img src="~/Images/bizpost_title.gif" alt="우편번호 검색 서비스" /></h1>
        <div class="rightTop"><a href=""><img src="~/Images/btn_close01.gif" alt="우편번호 검색 서비스 창닫기" onClick="self.close();" /></a></div>
    </div>
    <!-- //header -->
    <!-- body -->
    <div class="bodyWrap">

        <form name="frmRoadAddr" id="frmRoadAddr" method="post">
            <input type="hidden" name="sido" id="sido" />
            <input type="hidden" name="gungu" id="gungu" />
            <input type="hidden" name="rdNm" id="rdNm" />
            <input type="hidden" name="mnNo" id="mnNo" />
            <input type="hidden" name="subNo" id="subNo" />
            <input type="hidden" name="dong" id="dong" />
            <input type="hidden" name="jibunMnNo" id="jibunMnNo" />
            <input type="hidden" name="jibunSubNo" id="jibunSubNo" />
            <input type="hidden" name="bldNm" id="bldNm" />
        </form>

        <div class="layer_box1" id="searchTypeBox">
            <ul class="input_list" id="searchType">
                <li>
                    <label><input type="radio" class="rdo" id="DONG" name="rdoSearchType" value="DONG">동(읍/면) + 지번</label>
                </li>
                <li>
                    <label><input type="radio" class="rdo" id="ROAD" name="rdoSearchType" value="ROAD" checked="checked">도로명 주소 + 건물번호</label>
                </li>
                <li>
                    <label><input type="radio" class="rdo" id="BDNM" name="rdoSearchType" value="BDNM">건물명(아파트명)</label>
                </li>
            </ul>
        </div>

        <div id="divDongNameHelp" class="layer_box2">
            <strong class="how_txt">검색방법 : 시/도 및 시/군/구 선택 후 동(읍/면)+지번 입력</strong><br />
            <p class="how_txt">예) 논현동 142-12 → 서울특별시 강남구 선택 후 논현동(동명) + 142-12(지번)</p>
        </div>

        <div id="divRoadNameHelp" class="layer_box2">
            <strong class="how_txt">검색방법 : 시/도 및 시/군/구 선택 후 도로명과 건물번호 입력</strong><br />
            <p class="how_txt">예) 강남대로 542 → 서울특별시 강남구 선택 후 강남대로(도로명) + 542(건물번호)</p>
        </div>

        <div id="divBldgNameHelp" class="layer_box2">
            <strong class="how_txt">검색방법 : 시/도 및 시/군/구 선택 후 건물명 입력</strong><br />
            <p class="how_txt">예) 영풍빌딩  → 서울특별시 강남구 선택 후 영풍빌딩(건물명)</p>
        </div>

        <div id="searchBox1" class="layer_box3">
            <table>
                <colgroup>
                    <col width="13%">
                    <col width="30%">
                    <col width="13%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th>시도</th>
                        <td>
                            <select id="sidoBox" name="sidoBox" class="selbox">
                                <option value="all">전체</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.SIDO">@item.SIDO</option>
                                }
                            </select>
                        </td>
                        <th>시군구</th>
                        <td>
                            <select id="gunguBox" name="gunguBox" class="selbox"><option value="">전체</option></select>
                        </td>
                    </tr>

                    <tr>
                        <th>검색어</th>
                        <td colspan="3">
                            <div id="divDongNameSearch" style="display:inline;">
                                <input type="text" name="dongBox" id="dongBox" class="input_txt" value="동(읍/면)" onClick="javascript:boxRemove();">
                                <span class="main_icons plus">+</span>
                                <input type="text" name="jibunBox" id="jibunBox" class="input_txt" value="지번" onClick="javascript:boxRemove();">
                            </div>

                            <div id="divRoadNameSearch" style="display:inline;">
                                <input type="text" name="rdNmBox" id="rdNmBox" class="input_txt" value="도로명" onClick="javascript:boxRemove();">
                                <span class="box3_icons plus">+</span>
                                <input type="text" name="mnNoBox" id="mnNoBox" class="input_txt" value="건물번호" onClick="javascript:boxRemove();">
                            </div>

                            <div id="divBldgNameSearch" style="display:inline;">
                                <input type="text" name="bldNmBox" id="bldNmBox" class="input_txt w151" value="건물명(아파트명)" onClick="javascript:boxRemove();">
                            </div>

                            <div style="display:inline" class="btnSearch">
                                <a href="#" id="btn_search"><img src="~/Images/btn_search.gif" alt="검색"></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="addressView">@Html.Partial("getZipListPartial", Model)</div>
        <!-- //body -->
        <!-- footer -->
        <div class="footerWrap">
        </div>
        <!-- //footer -->

    </div>

</body>

</html>
