@{
    Layout = "~/Areas/Company/Views/Shared/_MainLayout.cshtml";
}



<div id="btnwrap_sub">
    <div class="rightwrap">
        <a href="@Url.Action("Summary01", "Report", new { area = "Company" })" class="modify right"><em>수정</em></a>
    </div>
</div><!--btnwrap//-->
